## Logistic Regression

Logistic Regression is a supervised classification technique used to classify labelled data. Classification can be done on
Binary Labelled Output. Logistic Regression is primary Binary Classification Technique.

Logistic Regression applies Sigmoid function on the regression line to get the binary output by using a threshold. It uses the cost function and repeat convergence algorithm to get the values of coefficients and forms a gradient descent.

We can determine the performance of logistic Regression using Accuracy Rate, Precision, Recall, Sensitivity, RUC Curve 
and confusion matrix

## Implementation of Logistic Regression

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

Loading Algerian Forest Dataset

In [50]:
df= pd.read_csv("Algerian_forest_fires_dataset.csv")

Checking initial 10 rows of dataset

In [51]:
df.head(10)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire
5,6,6,2012,31,67,14,0.0,82.6,5.8,22.2,3.1,7.0,2.5,fire
6,7,6,2012,33,54,13,0.0,88.2,9.9,30.5,6.4,10.9,7.2,fire
7,8,6,2012,30,73,15,0.0,86.6,12.1,38.3,5.6,13.5,7.1,fire
8,9,6,2012,25,88,13,0.2,52.9,7.9,38.8,0.4,10.5,0.3,not fire
9,10,6,2012,28,79,12,0.0,73.2,9.5,46.3,1.3,12.6,0.9,not fire

Checking the no of rows and columns in the data

In [4]:
df.shape

(243, 14)

Checking the statistics for the dataset

df.describe()

Checing the Correlation strength between predictors

In [6]:
df.corr()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI
day,1.000000,-0.000369,NaN,0.097227,-0.076034,0.047812,-0.112523,0.224956,0.491514,0.527952,0.180543,0.517117,0.350781
month,-0.000369,1.000000,NaN,-0.056781,-0.041252,-0.039880,0.034822,0.017030,0.067943,0.126511,0.065608,0.085073,0.082639
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Temperature,0.097227,-0.056781,NaN,1.000000,-0.651400,-0.284510,-0.326492,0.676568,0.485687,0.376284,0.603871,0.459789,0.566670
RH,-0.076034,-0.041252,NaN,-0.651400,1.000000,0.244048,0.222356,-0.644873,-0.408519,-0.226941,-0.686667,-0.353841,-0.580957
Ws,0.047812,-0.039880,NaN,-0.284510,0.244048,1.000000,0.171506,-0.166548,-0.000721,0.079135,0.008532,0.031438,0.032368
Rain,-0.112523,0.034822,NaN,-0.326492,0.222356,0.171506,1.000000,-0.543906,-0.288773,-0.298023,-0.347484,-0.299852,-0.324422
FFMC,0.224956,0.017030,NaN,0.676568,-0.644873,-0.166548,-0.543906,1.000000,0.603608,0.507397,0.740007,0.592011,0.691132
DMC,0.491514,0.067943,NaN,0.485687,-0.408519,-0.000721,-0.288773,0.603608,1.000000,0.875925,0.680454,0.982248,0.875864
DC,0.527952,0.126511,NaN,0.376284,-0.226941,0.079135,-0.298023,0.507397,0.875925,1.000000,0.508643,0.941988,0.739521
ISI,0.180543,0.065608,NaN,0.603871,-0.686667,0.008532,-0.347484,0.740007,0.680454,0.508643,1.000000,0.644093,0.922895
BUI,0.517117,0.085073,NaN,0.459789,-0.353841,0.031438,-0.299852,0.592011,0.982248,0.941988,0.644093,1.000000,0.857973
FWI,0.350781,0.082639,NaN,0.566670,-0.580957,0.032368,-0.324422,0.691132,0.875864,0.739521,0.922895,0.857973,1.000000

Separating Predictor and Target Variables

In [7]:
x=df.iloc[:,0:13]

In [8]:
y=df.iloc[:,-1]

In [10]:
x

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5
239,27,9,2012,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0
240,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2
241,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7
242,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5

In [47]:
y= y.str.replace(" ", "")

In [48]:
y

0      notfire
1      notfire
2      notfire
3      notfire
4      notfire
        ...
238       fire
239    notfire
240    notfire
241    notfire
242    notfire
Name: Classes  , Length: 243, dtype: object

Splitting x and y into train and test variables

In [38]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

Transforming variables by importing standard scaler applying it on train and test variable

In [39]:
sc= StandardScaler()
xtrain = sc.fit_transform(X_train) 
xtest = sc.transform(X_test)

Importing Logistic Regression and applying it on xtrain and ytrain

In [40]:
from sklearn.linear_model import LogisticRegression

In [41]:
classifier = LogisticRegression(random_state=0)
classifier.fit(xtrain,y_train)

LogisticRegression(random_state=0)

Predicting the output

In [42]:
y_pred = classifier.predict(xtest)

Checking the Performance of our model

In [43]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [44]:
accuracy_score(y_test, y_pred)

0.9016393442622951

In [45]:
confusion_matrix(y_test, y_pred)

array([[30,  5],
       [ 1, 25]], dtype=int64)

## Thus we have implemented Logistic Regression Model